@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
body{
    overflow-x: hidden;
}
:root{
    font-size: 16px;
    --primary: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}
.top{
    background: var(--primary);
    padding: 1em;
}
.output{
    border: 1px solid black;
    height: 15vh;
    overflow: scroll;
}
.bottom{
    margin-top: 6em;
    background: var(--primary);
    padding: 15px 0 4px 0;
}
.btn{
    background:var(--primary);
}
h1,h3,p,textarea,div,label,button{
    letter-spacing: 1px;
}